.main__work {
  position: relative;
  min-height: 636px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; }
  .main__work img {
    position: absolute;
    left: calc(50% - 308px / 2);
    top: calc(50% - 623px / 2); }
  .main__work .main__running-text {
    font-size: 128px;
    color: #181818;
    line-height: 106%;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    display: flex;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .main__work .main__running-text p {
      text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444; }
  .main__work .main__running-top {
    animation-name: moveRight;
    animation-duration: 10s; }
    .main__work .main__running-top span {
      color: #2fdbbc; }
  .main__work .main__running-middle {
    animation-name: moveLeft;
    animation-duration: 10s;
    margin: 68px 0; }
    .main__work .main__running-middle span {
      color: #a64ced; }
  .main__work .main__running-bottom {
    animation-name: moveRight;
    animation-duration: 10s;
    animation: marquee 10s infinite linear;
    font-size: sans-serif;
    line-height: 1.3;
    white-space: nowrap;
    display: inline-block; }
    .main__work .main__running-bottom a {
      color: #191919;
      display: flex; }
    .main__work .main__running-bottom span {
      color: #ffaa4c; }
  @media (max-width: 550px) {
    .main__work {
      min-height: 540px; }
      .main__work .main__running-text {
        font-size: 48px; }
      .main__work .main__running-middle {
        margin: 93px 0; }
      .main__work img {
        max-width: 228px;
        left: calc(50% - 228px / 2);
        top: calc(50% - 461px / 2); } }
